#main-image
{
    height: 850px;
    width: auto;
    border-bottom: 1px solid #ddd;
    background: url('images/sea-2755901_1920.jpg') top center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
#main-image h2
{
    color: #EFEEEC;
    font-weight: normal;
    text-align: center;
    padding: 365px 0 40px 0;
    margin-bottom: 20px;
    text-shadow: black 1px 0 10px;
}
